* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.sh text eol=lf
Dockerfile text eol=lf
Caddyfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
